<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Create-KeywordType</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <strong>Create Activity Area Type</strong>
          </div>
          <div class="card-body card-block">
            <form th:action="@{/keyword-types/create}" th:object="${keywordTypes}" method="post" class="form-horizontal">

              <input type="hidden" th:field="*{id}" />

              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="keywordTypeTitle" class="form-control-label">Title</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" id="keywordTypeTitle" th:field="*{keywordTypeTitle}" placeholder="Enter Area Type Name" class="form-control" required>
                  <small class="form-text text-muted">Enter a descriptive name for the record.</small>
                </div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success btn-sm">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a th:href="@{/keyword-types/list}" class="btn btn-danger btn-sm">
                  <i class="fa fa-ban"></i> Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
