<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>PersonnelType-Edit</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <strong>PersonnelType-Edit</strong>
          </div>
          <div class="card-body card-block">
            <form th:action="@{'/personnel-type/edit/' + ${personnelType.id}}" th:object="${personnelType}" method="post" class="form-horizontal">

              <input type="hidden" th:field="*{id}" />

              <div class="row form-group">
                <div class="col col-md-3">
                  <label for="title" class="form-control-label">Title</label>
                </div>
                <div class="col-12 col-md-9">
                  <input type="text" id="title" th:field="*{personnelTypeTitle}" class="form-control" required>
                  <small class="form-text text-muted">Edit the name of the record.</small>
                </div>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success btn-sm">
                  <i class="fa fa-check"></i> Save
                </button>
                <a th:href="@{/personnel-type/list}" class="btn btn-danger btn-sm">
                  <i class="fa fa-times"></i> Cancel
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
