<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>New Application</title>
</head>
<body>
<section layout:fragment="content">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar-sidebar" style="padding: 0px;">
                <ul class="list-unstyled navbar__list">
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == 'project'} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/DESCRIPTION/{projectId}(projectId=${project.id})}" >
                            <i class="fa fa-angle-right"></i>Application Description
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == 'coordinator'} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/COORDINATOR/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Project Coordinator
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/PROJECT_INFORMATION/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Project Information
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/ACTIVITY_AREAS/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Activity Areas
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/KEYWORDS/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Keywords
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/TECHNOLOGY_LEVEL/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Technology Readiness Level
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/PERSONNEL/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Project Personnel
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/FILES/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Additional Files
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/project/step/MACHINERY/{projectId}(projectId=${project.id})}">
                            <i class="fa fa-angle-right"></i>Machinery & Equipment Information
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:classappend="${activeStep == ''} ? 'text-primary fw-bold'"
                           class="d-block"
                           style="font-size: 14px; padding: 5px 0;"
                           th:href="@{/}">
                            <i class="fa fa-angle-right"></i>Submit & Approve
                        </a>
                    </li>
                </ul>
                </nav>
            </div>


            <div class="col-md-9">
                <section layout:fragment="applicationContent">

                </section>
            </div>
        </div>
</section>
</body>
</html>