<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
  <h2>Welcome to the Exam Paper Preparation System,<strong> <span th:text="${session.user.getUserFirstName()+ ' ' + session.user.getUserLastName()}"></span> </strong></h2>
    <br>
    <h2><span th:text="${'Role: '+session.role.toUpperCase()}"></span></h2>
</section>
</body>
</html>